In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from tqdm import tqdm_notebook as tqdm
import sys
sys.path.append("../src/")
from logger import setup_logger, LOGGER
from trainer import train_lgbm
from util_tool import reduce_mem_usage
from sklearn.decomposition import TruncatedSVD
%matplotlib inline
pd.set_option('display.max_columns', 300)

In [2]:
# ==================
# Constant
# ==================
TRAIN_PATH = "../input/train.csv"
TEST_PATH = "../input/test.csv"
USER_PATH = "../input/user_x_anime.csv"

In [3]:
# =====================
# Settings
# =====================
SAVE_PATH = "../output/fe/fe006.feather"

In [4]:
train = pd.read_csv(TRAIN_PATH)
test = pd.read_csv(TEST_PATH)

In [6]:
cols = ["Aired"]
train = pd.concat([train[cols],test[cols]]).reset_index(drop=True)

In [7]:
def air_to_today(day):
    try:
        day = day.split("to")[0]
        day = pd.to_datetime(day)
        d = pd.to_datetime('2021-08-01') - day
        return d.days
    except:
        return np.nan

In [8]:
train["today_from_air"] = train["Aired"].map(air_to_today)

In [9]:
train

                              Aired  today_from_air
0       Apr 3, 1998 to Apr 24, 1999          8521.0
1      Apr 15, 2005 to Sep 27, 2005          5952.0
2      Oct 10, 2001 to Mar 23, 2005          7235.0
3       Oct 6, 2004 to Dec 15, 2004          6143.0
4                      Jul 16, 1988         12069.0
...                             ...             ...
12416                  Jan 22, 2021           191.0
12417                  Feb 14, 2021           168.0
12418                   Feb 5, 2021           177.0
12419                  Feb 12, 2021           170.0
12420                  Mar 14, 2021           140.0

[12421 rows x 2 columns]

In [11]:
train = reduce_mem_usage(train)
train[["today_from_air"]].to_feather(SAVE_PATH)

Memory usage of dataframe is 0.14 MB
column =  2
0
Memory usage after optimization is: 0.14 MB
Decreased by 0.0%