In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from tqdm import tqdm_notebook as tqdm
import sys
sys.path.append("../src/")
from logger import setup_logger, LOGGER
from trainer import train_lgbm
from util_tool import reduce_mem_usage
%matplotlib inline
pd.set_option('display.max_columns', 300)

In [23]:
# ==================
# Constant
# ==================
TRAIN_PATH = "../input/train.csv"
TEST_PATH = "../input/test.csv"
USER_PATH = "../input/user_x_anime.csv"

In [24]:
# =====================
# Settings
# =====================
SAVE_PATH = "../output/fe/fe002.feather"

In [25]:
train = pd.read_csv(TRAIN_PATH)
test = pd.read_csv(TEST_PATH)
user = pd.read_csv(USER_PATH)

In [26]:
train["MAL_ID"]

0           1
1          16
2          22
3          23
4          47
        ...
4995    44407
4996    45753
4997    45782
4998    45999
4999    47614
Name: MAL_ID, Length: 5000, dtype: int64

In [27]:
cols = ["MAL_ID"]
train = pd.concat([train[cols],test[cols]]).reset_index(drop=True)

In [28]:
# aggregation
# count
user_count = user["anime_id"].value_counts().to_dict()
#user_unique_count = user[["anime_id","user_id"]].groupby(by="anime_id")["user_id"].nunique().to_dict()

In [29]:
train["anime_id_count"] = train["MAL_ID"].map(user_count)

In [30]:
cols = ["anime_id_count"]

In [31]:
train = reduce_mem_usage(train)
train[cols].to_feather(SAVE_PATH)

Memory usage of dataframe is 0.19 MB
column =  2
0
Memory usage after optimization is: 0.09 MB
Decreased by 50.0%

In [33]:
user

          user_id  anime_id  rating  watching_status  watched_episodes
0          310366     11009     NaN                6                 0
1          321597      4063     NaN                2                12
2           37696       114     9.0                2                26
3          316142       863     0.0                6                 0
4          333376     32379     4.0                4                 1
...           ...       ...     ...              ...               ...
26992848   112800       617     NaN                2                 1
26992849    34131     16498     NaN                2                25
26992850   110747      3927     8.0                2                25
26992851    94883     37497     NaN                4                 6
26992852   125104      4078     NaN                2                 1

[26992853 rows x 5 columns]