In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from tqdm import tqdm_notebook as tqdm
import sys
sys.path.append("../src/")
from logger import setup_logger, LOGGER
from trainer import train_lgbm
from util_tool import reduce_mem_usage
from sklearn.decomposition import TruncatedSVD
%matplotlib inline
pd.set_option('display.max_columns', 300)

In [2]:
# ==================
# Constant
# ==================
TRAIN_PATH = "../input/train.csv"
TEST_PATH = "../input/test.csv"
USER_PATH = "../input/user_x_anime.csv"

In [3]:
# =====================
# Settings
# =====================
SAVE_PATH = "../output/fe/fe017.feather"

In [4]:
train = pd.read_csv(TRAIN_PATH)
test = pd.read_csv(TEST_PATH)

In [5]:
cols = ["Aired"]
train = pd.concat([train[cols],test[cols]]).reset_index(drop=True)

In [6]:
train

                              Aired
0       Apr 3, 1998 to Apr 24, 1999
1      Apr 15, 2005 to Sep 27, 2005
2      Oct 10, 2001 to Mar 23, 2005
3       Oct 6, 2004 to Dec 15, 2004
4                      Jul 16, 1988
...                             ...
12416                  Jan 22, 2021
12417                  Feb 14, 2021
12418                   Feb 5, 2021
12419                  Feb 12, 2021
12420                  Mar 14, 2021

[12421 rows x 1 columns]

In [10]:
def air_to_today(day):
    try:
        day = day.split("to")[0]
        day = pd.to_datetime(day)
        return day.year
    except:
        return np.nan

In [11]:
train["air_year"] = train["Aired"].map(air_to_today)

In [12]:
train

                              Aired  air_year
0       Apr 3, 1998 to Apr 24, 1999    1998.0
1      Apr 15, 2005 to Sep 27, 2005    2005.0
2      Oct 10, 2001 to Mar 23, 2005    2001.0
3       Oct 6, 2004 to Dec 15, 2004    2004.0
4                      Jul 16, 1988    1988.0
...                             ...       ...
12416                  Jan 22, 2021    2021.0
12417                  Feb 14, 2021    2021.0
12418                   Feb 5, 2021    2021.0
12419                  Feb 12, 2021    2021.0
12420                  Mar 14, 2021    2021.0

[12421 rows x 2 columns]

In [13]:
train = reduce_mem_usage(train)
train[["air_year"]].to_feather(SAVE_PATH)

Memory usage of dataframe is 0.19 MB
column =  2
0
Memory usage after optimization is: 0.14 MB
Decreased by 25.0%